a {
    text-decoration: none;
    color: inherit;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999999;
}

.loading * {
    z-index: 9999999;
}

.loading.show {
    display: flex;
}
.loading.hide {
    display: none;
}

.avatar_button.active {
    outline: 3px solid blue !important;
    padding: 0.1rem;
}

.avatar_button {
    border-radius: 50%;
    border: none;
    padding: 0.1rem;
    background-color: white;
}

/*! SCROLLBAR - start */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 116, 139, 0.502) rgba(100, 116, 139, 0.161);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 0.375rem;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(100, 116, 139, 0.161);
}
*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(100, 116, 139, 0.502);
}
/* SCROLLBAR - end */

.modal-backdrop {
    z-index: 1000;
}

#modalMain {
    z-index: 1001;
}
