a {
    text-decoration: none;
    color: inherit;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.loading.show {
    display: flex;
}
.loading.hide {
    display: none;
}
